label{
    display: inline-block;
    float: left;
    clear: left;
    width: 250px;
    text-align: right;
}
input {
    display: inline-block;
    float: left;
}

.card-text{
    flex-wrap: wrap;
}

.form-group{
    margin: 10px;
}

#movies{
    display: flex;
    justify-content: center;
}

li{
    list-style-type: none;
}

li:nth-child(odd){
    background: white;
    list-style-type: none;
}

.btn-circle.btn-sm {
    width: 30px;
    height: 30px;
    /*padding: 6px 0px;*/
    border-radius: 15px;
    border-color: white;
    font-size: 16px;
    text-align: center;
    position: relative;
    top: 15px;
    right: 15px;
}

.btn-circle{
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s linear;
}
.card:hover .btn-circle{
    visibility:visible;
    opacity: 1;
}

.card-header {
    text-align: center;
}

